.image1 {
    position: absolute;
    left: 0px;
    bottom: 0px;
    z-index: -1;
}

.image2 {
    position: absolute;
    left: 450px;
    bottom: 0px;
    z-index: -1;
}

.image3 {
    position: absolute;
    left: 950px;
    bottom: 0px;
    z-index: -1;
}

h1 {
    font-size: 50px !important;
    line-height: 30px;
    padding-bottom: 50px;

}

.landing {
    padding-bottom: 250px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    flex: 1;
}
