<div class="ui container content-container" style="display: flex; align-items:stretch;justify-content:center; height:90vh">
    <img src="../../../assets/volunteering-pic.png" class="image1">
    <img src="../../../assets/volunteering-pic.png" class="image2">
    <img src="../../../assets/volunteering-pic.png" class="image3">
    <div class="landing">
        <h1>Welcome to iVoluntee</h1>
        <div style="display:flex; justify-content:space-between; width: 100%; flex-direction: column; justify-content:flex-end">
            <span style="font-size: 1.2rem;">If you ever felt like lending a hand but weren't sure how. If you ever felt like you 
                wanted to do more for your community. If you ever felt like your spare time could be better 
                spent. Welcome to the answer. 
                The new social network that looks to bring people together for a greater purpose. 
                After all, what could possibly be greater than helping each other. </span>
            <div style="float: right; flex-shrink: 0"><app-login></app-login></div>
        </div>
        
    </div>
</div>