<div class="ui container content-container" style="display: flex; align-items:stretch;justify-content:center; height:100vh">
    <img src="../../../assets/volunteering-pic.png" class="image1">
    <img src="../../../assets/volunteering-pic.png" class="image2">
    <img src="../../../assets/volunteering-pic.png" class="image3">
    <div class="landing">
        <h1>Welcome to iVoluntee</h1>
        <div style="display:flex; justify-content:space-between; width: 100%">
            <span>Help here please</span>
            <div style="float: right"><app-login></app-login></div>
        </div>
        
    </div>
</div>