<div class="about-container">
    <div class="container">
            <div class="ui move reveal">
                    <div class="visible content">
                      <img src="http://al-taiclub.com/images/heart-handshake-clipart-13.jpg" width="225" height="225" class="ui image">
                    </div>
                    <div class="hidden content">
                      <img src="https://d30y9cdsu7xlg0.cloudfront.net/png/504952-200.png" width="225" height="225" class="ui image">
                    </div>
                  </div>
            <div class="ui move right reveal" style="padding-left:700px">
                        <div class="visible content">
                          <img src="http://al-taiclub.com/images/heart-handshake-clipart-13.jpg" width="225" height="225" class="ui image">
                        </div>
                        <div class="hidden content"style="padding-left:700px">
                          <img src="https://d30y9cdsu7xlg0.cloudfront.net/png/504952-200.png" width="225" height="225" class="ui image">
                        </div>
                      </div>
            <div class="ui move down reveal" style="padding-left:300px">
                            <div class="visible content">
                              <img src="http://al-taiclub.com/images/heart-handshake-clipart-13.jpg" width="225" height="225" class="ui image">
                            </div>
                            <div class="hidden content"style="padding-left:300px">
                              <img src="https://d30y9cdsu7xlg0.cloudfront.net/png/504952-200.png" width="225" height="225" class="ui image">
                            </div>
                          </div>
</div>