<div class="">
    <button class="ui animated google plus button" (click)="loginWithGoogle()">
        <div class ="visible content">Login with Google
        <i class="google icon"></i>
        </div>
        <div class="hidden content">
        Continue <i class="right arrow icon"></i>
        </div>
    </button>
    <button class="ui animated facebook button" (click)="loginWithFacebook()">
        <div class="visible content">Login with Facebook
        <i class="facebook icon"></i>
        </div>
        <div class="hidden content">
        Continue <i class="right arrow icon"></i>
        </div>
    </button>
</div>