<div class="ui secondary menu" style="background-color:#FF9800">
  <div class="ui container">
    <a routerLink="/" class="item" style="padding:0px">
      <img src="../../../assets/navbarlogowhitebig.png" alt="logo-white" class="ui item" height="36" style="padding:0px">
    </a>
    <a routerLink="/about" routerLinkActive="active" class="item white-font">
      About
    </a>
    <a routerLink="/tech" routerLinkActive="active" class="item white-font">
      Tech
    </a>
    <div class="right menu">
      <div class="item" *ngIf="user" style="padding-right:0px;margin-right:0px">
        <div class="ui icon input">
          <input type="text" placeholder="Search...">
          <i class="search link icon"></i>
        </div>
      </div>
      <div class="item" *ngIf="user">
        <div class="ui simple dropdown inline item">
          <i class="user circle icon white-font" style="margin-right:0px"></i>
          <div class="menu" style="margin-top:0px">
            <a class="item" href="/profile">Profile</a>
            <div class="item" (click)="showPopup()">+ Create Event</div>
            <div class="item" (click)="logout()">Log out</div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>