<div class="ui card" style="margin-right:10px;height:470px;width:340px" [class.small-card]="small">
  <div class="image">
    <img [src]="event.imageURL" [class.small-image]="small" style="max-height:200px">
  </div>
  <div class="content">
    <div class="meta">
      <span class="date">{{event.creatorName}}</span><span style="float:right;opacity:0.8">{{event.timestamp | date:'yyyy-MM-dd HH:mm'}}</span>
    </div>
    <a class="header" [href]="'/events/'+event._id">{{event.name}}</a>
    <div class="description">
      {{event.description}}
    </div>
    <div style="float:bottom" *ngIf="!small">
      <span *ngFor="let tag of event.tags" class="ui label mini orange">{{tag}}</span>
    </div>
    <div>
      {{event.formated-address}}
    </div>
  </div>
  <div class="extra content" *ngIf="!small" style="height:58px;display:flex;flex-direction:row;align-items:center">
      <div class="ui animated button blue" tabindex="0" (click)="updateInterest()" *ngIf="state=='nothing'">
        <div class="visible content">Going?</div>
        <div class="hidden content">
          Yes!<i class="right arrow icon"></i>
        </div>
      </div>
      <div class="ui animated button green" tabindex="0" (click)="updateCheckin()" *ngIf="state=='interested'">
        <div class="visible content">Check in</div>
        <div class="hidden content">
          Here!<i class="check circle icon"></i>
        </div>
      </div>
      {{event.usersInterested.length+'/'+event.volunteersNeeded}} said are going
      <span *ngIf="state=='attended'">, and {{event.usersAttended.length}} came</span>
  </div>
</div>
