<div class="ui card">
  <div class="image">
    <img src="https://i.ytimg.com/vi/W3CzxRNrJMA/maxresdefault.jpg">
  </div>
  <div class="content">
    <a class="header">Name of the Event</a>
    <div class="meta">
      <span class="date">Organizer</span>
    </div>
    <div class="description">
      Description of the event
    </div>
  </div>
  <div class="extra content">
    <a>
      <i class="user icon"></i>
      Show how many people are needed/People signed for the event
    </a>
  </div>
</div>
