<div class="ui card" style="margin-right:10px">
  <div class="image">
    <img [src]="event.imageURL">
  </div>
  <div class="content">
    <div class="meta">
      <span class="date">{{event.creatorName}}</span>
    </div>
    <a class="header" [href]="'/events/'+event.eventID">{{event.name}}</a>
    <div class="description">
      {{event.description}}
    </div>
    <div style="float:right" *ngIf="!small">
      <span *ngFor="let tag of event.tags" class="ui label mini orange">{{tag}}</span>
    </div>
  </div>
  <div class="extra content" *ngIf="!small">
      <div class="ui animated button" tabindex="0">
          <div class="visible content">Attending</div>
          <div class="hidden content">
            <i class="right arrow icon"></i>
          </div>
        </div>
        {{event.usersInterested.length+'/'+event.volunteersNeeded}}
  </div>
</div>
