<div class="full-page">
  <div class="profile">
    <img class="ui medium circular image border-profile" [src]="profilePic">
      <div class="info-container">
        <div class="ui list">
          <div class="item">
            <i class="user icon"></i>
            <div class="content">
              Vicente Blat
            </div>
          </div>
          <div class="item">
            <i class="marker icon"></i>
            <div class="content">
              Atlanta, GA
            </div>
          </div>
          <div class="item">
            <i class="calendar icon"></i>
            <div class="content">
              Member Since 2010
            </div>
          </div>
        </div>
      </div>
      <div class="tags-box">
          <span *ngFor="let tag of tags" class="ui label orange">{{tag}}</span>
      </div>
  </div>
  <div class="wall">
      <app-events-row [events]="events" [title]="'MY EVENTS'" [small]="true" class="text-align" style="flex: 1; flex-shrink:0"></app-events-row>
      <div class="past-event-container">
        <h1 class="text-style">PAST EVENTS</h1>
        <div class="event-container">
          <div class="ui floating message" *ngFor="let event of events">
              <div class="content">
                  <div class="header">
                    <p>{{event.name}}</p>
                  </div>
                  <p>{{event.description}}</p>
          </div>
        </div>
    </div>
  </div>
</div>
