.full-page {
    display: flex;
    flex-direction: row;
    width: 100%;
    overflow-x: hidden;
    height: 100vh;
}

.profile {
    background-color: #ffcc80;
    max-width: 400px;
    min-width: 300px;
    display: flex;
    flex-direction: column;
    flex-shrink: 0;
    align-items: center;
    justify-content: center;
    height: 100%;
    flex: 1;
    box-shadow: 0px 0px 2px #00000055; 
    position: -webkit-sticky;  
    position: sticky;
    top: 0;
    padding: 20px;
}

.border-profile {
    border: 4px solid white !important;
    box-shadow: 0px 0px 5px #00000055; 
}

.info-container {
    padding-top: 25px; 
    max-width: 60%;
    padding-bottom: 25px; 
    font-size: 16px;
}

.tags-box {
    padding: 10px; 
    width: 80%;
    background-color: #FFF3E0; 
    display: flex;
    min-height: 100px;
    border-radius: 7px;
    border: 2px solid #FFB74D;
    box-shadow: 0px 0px 2px #00000055; 
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}

.wall {
    flex: 2;
    display: flex;
    padding: 56px 10px 10px 10px;
    overflow-x: hidden;
    overflow-y: hidden;
    flex-direction: column;
}

h1.text-style {
    color: #FF9800;  
    margin-top: 10px;
    margin-bottom: 2px; 
    font-size: 25px;
}

.ui.label {
    margin: 5px;
    box-shadow: 0px 0px 2px #00000055; 
}

.past-event-container {
    display: flex;
    flex-direction: column;
    flex: 1;
    overflow-y: hidden;
}

.past-event-container::-webkit-scrollbar {
    width: 0px;
}

.ui.floating.message {
    display: flex;
    flex-direction: column;
    padding: 10px;
    margin: 2px;
    background-color: rgba(0, 0, 0, 0.03);
    border-radius: 5px;
    border: 1px solid rgba(0, 0, 0, 0.05);
    box-shadow: 0px 2px 3px #00000022;
}

.event-container {
    flex: 1;
    overflow-y: auto;
    padding-bottom: 10px;
}

.event-container::-webkit-scrollbar {
    width: 0;
}

.event::-webkit-scrollbar {
    height: 0px;
}


