.cards-container {
    overflow-x: hidden;
}

.cards::-webkit-scrollbar {
    height: 0px;
}

.cards {
    display: flex;
    flex-direction: row;
    overflow-x: auto;
    padding: 5px;
}

.title-cards {
    margin-top: 20px;
    margin-bottom: 0px;
}