.ui.visible.message.position-home {
    padding: 10px;
    margin: 20px 5px 0px 5px;
    background: url("https://pre00.deviantart.net/166f/th/pre/f/2008/287/8/9/black_texture___ray_by_ethenyl.jpg");
    object-fit: cover;
    background-attachment: fixed;  
}

.quote {
    align-content: flex-start;
    padding: 10px;
}

.author-name {
    text-align: right
}